
@model Libar_Hotel.Models.ReservationRequestViewModel
@{
    ViewBag.Title = "Zahtev rezervacije - Dodaj";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Font Icon -->
    <link rel="stylesheet" href="~Content/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/registertheme/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">




                    @using (Html.BeginForm())
                    {
                        @**<p>@Model.ReservationRequest.UserId</p>*@

                        @Html.HiddenFor(m => m.ReservationRequest.UserId)

                        <h2 class="form-title">Rezervisite sobu</h2>
                        <div style="height:100%;width:100%" class="alert alert-info alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <h5><u>Cene noćenja:</u></h5>
                            @foreach (var room in Model.RoomTypes)
                            {
                                <dt>
                                    @room.Name
                                </dt>
                                <dd>
                                    @room.Price &euro;
                                </dd>
                            }
                        </div>
                        <div style="height:100%;width:100%" class="alert alert-warning alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <h5><u>Doplata za usluge:</u></h5>
                            @foreach (var service in Model.ServiceTypes)
                            {
                                <dt>
                                    @service.Name
                                </dt>
                                <dd>
                                    @service.Price &euro;
                                </dd>
                            }
                            <dt>

                            </dt>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.CheckInDate)
                            @Html.TextBoxFor(m => m.ReservationRequest.CheckInDate, new { @class = "form-control", type="date" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.CheckInDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.CheckOutDate)
                            @Html.TextBoxFor(m => m.ReservationRequest.CheckOutDate, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.CheckOutDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.RoomType.Name)
                            @Html.DropDownListFor(m => m.ReservationRequest.RoomTypeId, new SelectList(Model.RoomTypes, "Id", "Name"),  new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.RoomTypeId)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.ServiceType.Name)
                            @Html.DropDownListFor(m => m.ReservationRequest.ServiceTypeId, new SelectList(Model.ServiceTypes, "Id", "Name"),  new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.ServiceTypeId)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.RoomView.Name)
                            @Html.DropDownListFor(m => m.ReservationRequest.RoomViewId, new SelectList(Model.RoomViews, "Id", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.RoomViewId)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReservationRequest.NumberOfGuests)
                            @Html.TextBoxFor(m => m.ReservationRequest.NumberOfGuests, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReservationRequest.NumberOfGuests)
                        </div>

                        <div>
                            <input type="submit" name="Submit" value="Rezervisite" class="btn btn-lg btn-success" />
                        </div>
                    }
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Content/registertheme/js/main.js"></script>
    <script src="~/Content/registertheme/vendor/jquery/jquery.min.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}