@model Libar_Hotel.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<!-- Font Icon -->
<link rel="stylesheet" href="~Content/fonts/material-icon/css/material-design-iconic-font.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
<!-- Main css -->
<link rel="stylesheet" href="~/Content/registertheme/css/style.css">
    </head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="user-register" }))
                    {
                        @Html.AntiForgeryToken()

                        <h2 class="form-title">Registracija</h2>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                         
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.BirthDate,new { @class = "form-control", type="date" })
                            @Html.ValidationMessageFor(m=>m.BirthDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                      
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Kreiraj nalog" />
                             <p class="loginhere">
                        Već imate nalog? <a href="Login" class="loginhere-link">Ulogujte se ovde</a>
                    </p>
                        </div>
                    }
                   
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Content/registertheme/js/main.js"></script>
    <script src="~/Content/registertheme/vendor/jquery/jquery.min.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
