
@model Libar_Hotel.Models.RoomViewModel
@{
    ViewBag.Title = "Napravi sobu";
}
<br>
<div class="panel panel-success">
    <div class="panel-heading"><h2>Dodaj sobu</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Room",FormMethod.Post, new { id = "room" }))
        {

            <div class="form-group">

                @Html.LabelFor(m=>m.Room.Floor)
                @Html.TextBoxFor(m => m.Room.Floor, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Room.Floor)

            </div>
            <div class="form-group">

                @Html.LabelFor(m=>m.Room.RoomType.Name)
                @Html.DropDownListFor(m => m.Room.RoomTypeId, new SelectList(Model.RoomTypes, "Id", "Name"), new { @class = "form-control" })

            </div>
            <div class="form-group">

                @Html.LabelFor(m=>m.Room.RoomStatus.Name)
                @Html.DropDownListFor(m => m.Room.RoomStatusId, new SelectList(Model.RoomStatuses, "Id", "Name"), new { @class = "form-control" })

            </div>
            <div class="form-group">

                @Html.LabelFor(m=>m.Room.RoomView.Name)
                @Html.DropDownListFor(m => m.Room.RoomViewId, new SelectList(Model.RoomViews, "Id", "Name"), new { @class = "form-control" })
                <br>
                <input type="submit" class="btn btn-success" name="Submit" value="Dodaj sobu">
            </div>
            <div>
              
                @Html.ActionLink("Nazad na listu soba", "Index", null, new { @class = "btn btn-info btn-m" })
            </div>
         


        }
    </div>
</div>

